@import 'tailwindcss' important;

@theme {
  --color-primary: #755c1b;
  --color-heading: rgba(0, 0, 0, 0.85);
  --color-secondary: rgba(0, 0, 0, 0.65);
  --color-caption: rgba(0, 0, 0, 0.45);
  --color-split: #f0f0f0;
  --color-disabled: rgba(0, 0, 0, 0.25);
  --color-layout: #f0f2f5;

  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1600px;
}

:root {
  --color-primary: #755c1b;
}

.tribute-form-card .ant-radio-wrapper .ant-radio-label,
.edit-archive-card .ant-radio-wrapper .ant-radio-label {
  padding-left: 0;
}
